---
layout: default
title: openSUSE @ GSoC
slug: gsoc
frontmatter:
  cover: /assets/img/gsoc/GSoC.png
---
{% include frontmatter.html %}

{% include markdown-section.html markdown='gsoc/intro.md' size='col-md-8 mx-auto' %}

{% include markdown-section.html markdown='gsoc/howto.md' %}

{% include gsoc/available-projects.html %}

{% include gsoc/accepted-projects.html %}

{% include markdown-section.html markdown='mentor.md' %}

{% include markdown-section.html markdown='gsoc/mentor_process.md' img='/assets/img/starbucks.jpg' class='bg-light' %}

{% include js.html %}
