---
layout: default
title: openSUSE @ GSoC
slug: gsoc
---

{% include header.html %}

<section id="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center">Flip bits, not burgers!</h2>
            <p class="lead">
              {% include teaser.md %}
            </p>
            <p class="lead">
                Google Summer of Code is a global program that offers students a
                stipend to write code for free software projects. <strong>openSUSE</strong>
                has participated in Google Summer of Code since 2006 and has
                helped more than 50 students to get started with free software!
            </p>
        </div>
    </div>
  </div>
</section>

{% include gsoc-summary.html %}

{% include gsoc-howto.html %}

{% include gsoc-projects.html %}
