---
layout: default
redirect_from:
- /mentor/index.html
frontmatter:
  cover: /assets/img/intro-bg.jpg
  links:
  - name: I'm a mentor
    include: icons/mentor.svg
    location: /#mentor
  - name: I'm a mentee
    include: icons/mentee.svg
    location: /#mentee
---

{% include frontmatter.html %}

{% include markdown-section.html markdown='mentee.md' id='mentee' size='col-md-8 mx-auto' %}

{% include index/available-projects.html %}

{% include markdown-section.html markdown='mentor.md' %}

{% include markdown-section.html markdown='index/mentor_process.md' img='/assets/img/starbucks.jpg' id='mentor' class='bg-light' %}

{% include js.html %}
