    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is openSUSE Mentoring?</h2>
              <br/>
                <p>openSUSE is a community project to promote the use of Linux everywhere!</p>
                <p>And we believe that the best results come from people collaborating and having fun.</p>
                <p>This our approach to collect project ideas for programs like
                    <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a>,
                    <a href="http://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a> or
                    <a href="https://www.gnome.org/outreachy/">Outreachy</a> in a centralized way.
                </p>
                <br/>
              </div>
        </div>
    </section>
