    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <p class="lead">
                Are you looking for a way to learn how to study and improve
                software? Tired of spending your time developing software alone?
                Do you need an introduction to the wonderful world of Free Software?
              </p>
              <p class="lead">
                You have come to the right place! Scroll down and we will connect
                you with <em>real</em> people from our community who are willing
                to mentor you doing some <em>real</em> development projects.
                Get started with Free Software, now!
              </p>
            </div>
        </div>
    </section>
