<section id="mentor">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Become an openSUSE 101 Mentor</h2>
        <p class="lead">
          The world needs more free software hackers/code!
          We think mentoring is very important for the future of openSUSE.
          It brings new people to the culture and practices of free software
          who will enrich our community with their skillsets, ideas and talents.
        </p>
        <p class="lead">
          Being a 101 mentor requires your time, a clear vision of your
          project and good organization skills. We carefully compiled some tips,
          tricks and guidelines for mentoring into our
          <a href="mentor-howto/">mentor HOWTO</a>.
          Please read this for more information about being a mentor.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="mentor-go">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Okay, let's mentor!</h2>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a href="https://github.com/openSUSE/mentoring#adding-new-project">Contact</a>
            us to get your project listed on our site
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x"></i>
            </span>
            Using our <a href="https://github.com/openSUSE/mentoring/blob/gh-pages/templates/gsoc.md">template</a>
            add issues for your project to our <a href="https://github.com/openSUSE/mentoring/issues">repository</a>
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x"></i>
            </span>
            Label your issues with your projects name and assign yourself
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-comments fa-stack-1x"></i>
            </span>
            When students get in touch with you in the issue, get them started
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ '/img/starbucks.jpg' | prepend: site.baseurl }}" alt="">
        </div>
      </div>
    </div>
</section>
