<div id="projects-{{ site.time | date: '%Y' }}" class="prenav"></div>
<section id="gsoc-projects" class="border-bottom py-4">
	<div class="container">
		<h2 class="section-heading">What Can I Work On?</h2>
		<p class="lead">Browse the project ideas below. Click <strong>More Details</strong> to read the full description and connect with the mentor on GitHub:</p>
		<div class="lead">
			<p class="GSoC-placeholder project-placeholder">Loading projects…</p>
			<div id="github-list" style="display: none" data-url="https://api.github.com/repos/{{ site.github_organization }}/{{ site.github_repository }}/issues?labels=GSoC&state=open" class="GSoC-table">
			<div class="list-group"></div>
			</div>
			<p class="lead">You can find descriptions of the different openSUSE projects on our <a href="/#projects">101 projects page</a>.</p>
			<p class="small">
				Nothing catches your eye? Have your own idea?
				Reach out to <a href="mailto:opensuse-project@opensuse.org">our team</a> —
				we value creativity and initiative.
			</p>
		</div>
	</div>
</section>
