<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include navigation.html %}
<!-- About Section -->
<section id="about-mentor" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>Why should I become a mentor?</h2>
            <br/>
            <p>
                Because the world needs mentors and open source needs more code.
                And Mentoring is important for the future of open source software and especially openSUSE.
                It introduces young developers to the culture and practices of open source.
            </p>
            <p>Be a mentor because we need people involved with openSUSE to make a difference in people’s’ lives and in open source.</p>
            <br/>
        </div>
    </div>
</section>

<section id="mentor">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What makes a good mentor?</h2>
                    <div class="lead">

                        <ul>
                            <li>Time, time and time!</li>
                            <li>You're an FOSS evangelist and already part of an openSUSE project!</li>
                            <li>You have a clear vision of your mentoring project!</li>
                            <li>Strong organization skills because you have to manage your Mentee beside your daily life.</li>
                        </ul>
                        <p>
                            We carefully picked some guidelines for mentoring! Please read them for more information about becoming a mentor:
                            <a href="http://en.flossmanuals.net/GSoCMentoring/">Guidelines by FLOSS manuals</a>,
                            <a href="http://www.mentoring.org/downloads/mentoring_413.pdf">Mentoring.org</a>,
                            <a href="https://people.gnome.org/~federico/docs/summer-of-code-mentoring-howto/">Gnome mentoring guidelines</a>,
                            <a href="https://community.kde.org/Mentoring">KDE mentoring guidelines</a>.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ '/img/starbucks.jpg' | prepend: site.baseurl }}" alt="">
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>

    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Okay, let's go!</h2>
                    <div class="lead">

                        <p>
                            <i class="fa fa-check-circle fa-fw icon-mentoring"></i>
                            Is your openSUSE project already listed on our <a href="/#projects">projects</a> site?
                            If not, please contact first <a href="">our team</a> and ask to add your project!
                        </p>
                        <p>
                            <i class="fa fa-github fa-fw icon-mentoring"></i>
                            Go to our <a href="https://github.com/openSUSE/mentoring/issues">GitHub repository</a> and add a new issue for your project.
                            Please follow our recommended <a href="">template</a>!
                        </p>
                        <p>
                            <i class="fa fa-ticket fa-fw icon-mentoring"></i>
                            Label the issue with your projects name (e.g. Machinery) and assign it to yourself.
                            It will now magically appear on our project site!
                        </p>
                        <p>
                            <i class="fa fa-rocket fa-fw icon-mentoring"></i>
                            Wait till a Mentee gets in touch with you!
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
    <!-- /.content-section-b -->
</section>
{% include footer.html %}
{% include js.html %}
</body>
</html>
